@import url("https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import "tailwindcss";
* {
  font-family: "DM Sans", sans-serif;
}

#student-data {
  /* scrollbar-width: thin; */
  scrollbar-color: #6a73fa #f0f0f0;
  scroll-behavior: smooth;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
